<p id="notice"><%= notice %></p>

<div class="cotainer">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">

                <div class="card-header">KPI時系列推移</div>
                <div class="card-body">
                  <div class="form-group row">
                      <label for="date" class="col-md-2 col-form-label text-md-left">収率</label>
                      <div class="col-md-10">
                        <%= line_chart Record.pluck(:date, :yield) %>
                      </div>
                  </div>
                  <div class="form-group row">
                      <label for="date" class="col-md-2 col-form-label text-md-left">不良総計</label>
                      <div class="col-md-10">
                        <%= column_chart Record.pluck(:date, :def_total) %>
                      </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
</div>
