<head>

  <!------ コピペしてきたBootstrap CSS ---------->
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!------ コピペしてきたBootstrap CSS ---------->

  <link rel="stylesheet" href="assets/stylesheets.login.css">

</head>

<main class="login-form">
    <div class="cotainer">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">新規製品登録</div>
                    <div class="card-body">

                      <div class="form-group row">
                        <div class="col-md-6">
                          <%= form_with model: @product, url: product_create_path do |f| %>
                            <%= f.collection_select :prod_name, Product.all, :prod_name, :prod_name, {class: "form-control", include_blank: true} %>
                            <%= f.submit %>
                          <% end %>
                        </div>
                      </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
